.body{
    background: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'times new roman';
    
}
.head{
    text-align: center;
    color: white;
    background-color: #000000;
    margin: auto;
    padding: 20px;
}